*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    

}

header{
    
    width: 50%;
    height: 30vh;
   
    background-color: white;
}
body{
    margin: 50px;
}

nav{
   text-align: center;
   word-spacing: 60px;
    background-color: white;
}

span{
    background-color: black;
    margin: 5;
    padding: 5px ;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: white;
    word-spacing: normal;
}

.button{
background-color: rgb(165, 162, 162);

}
.fondo {
    background-color: rgb(246, 193, 95) !important;
}
.fondoboton{
    background-color: rgba(74, 224, 254, 0.992);
}